[package]

name = "curl"
version = "0.2.2"
authors = ["Carl Lerche <me@carllerche.com>"]
license = "MIT"
repository = "https://github.com/carllerche/curl-rust"
description = "Rust bindings to libcurl for making HTTP requests"

[dependencies]
url = "0.2.0"
libc = "0.1"

[dependencies.curl-sys]
path = "curl-sys"
version = "0.1.0"

[dev-dependencies]
log = "0.2"

# Unix platforms use OpenSSL for now to provide SSL functionality
[target.i686-apple-darwin.dependencies]
openssl-sys = "0.5.1"
[target.x86_64-apple-darwin.dependencies]
openssl-sys = "0.5.1"
[target.i686-unknown-linux-gnu.dependencies]
openssl-sys = "0.5.1"
[target.x86_64-unknown-linux-gnu.dependencies]
openssl-sys = "0.5.1"
[target.arm-unknown-linux-gnueabihf.dependencies]
openssl-sys = "0.5.1"
[target.aarch64-unknown-linux-gnu.dependencies]
openssl-sys = "0.5.1"
[target.i686-unknown-freebsd.dependencies]
openssl-sys = "0.5.1"
[target.x86_64-unknown-freebsd.dependencies]
openssl-sys = "0.5.1"
