[package]
name = "curl-sys"
version = "0.1.24"
authors = ["Carl Lerche <me@carllerche.com"]
links = "curl"
build = "build.rs"
license = "MIT"
repository = "https://github.com/carllerche/curl-rust"
description = "Native bindings to the libcurl library"

[build-dependencies]
pkg-config = "0.3"

[lib]
name = "curl_sys"
path = "lib.rs"

[dependencies]
libz-sys = "0.1.0"
libc = "0.1"

# Unix platforms use OpenSSL for now to provide SSL functionality
[target.i686-apple-darwin.dependencies]
openssl-sys = "0.6.0"
[target.x86_64-apple-darwin.dependencies]
openssl-sys = "0.6.0"
[target.i686-unknown-linux-gnu.dependencies]
openssl-sys = "0.6.0"
[target.x86_64-unknown-linux-gnu.dependencies]
openssl-sys = "0.6.0"
[target.arm-unknown-linux-gnueabihf.dependencies]
openssl-sys = "0.6.0"
[target.aarch64-unknown-linux-gnu.dependencies]
openssl-sys = "0.6.0"
[target.i686-unknown-freebsd.dependencies]
openssl-sys = "0.6.0"
[target.x86_64-unknown-freebsd.dependencies]
openssl-sys = "0.6.0"
[target.x86_64-unknown-bitrig.dependencies]
openssl-sys = "0.6.0"
