[package]
name = "curl-sys"
version = "0.3.4"
authors = ["Carl Lerche <me@carllerche.com>",
           "Alex Crichton <alex@alexcrichton.com>"]
links = "curl"
build = "build.rs"
license = "MIT"
repository = "https://github.com/carllerche/curl-rust"
description = "Native bindings to the libcurl library"

[build-dependencies]
pkg-config = "0.3"
gcc = "0.3.10"

[lib]
name = "curl_sys"
path = "lib.rs"

[dependencies]
libz-sys = ">= 0"
libc = "0.2"

[target."cfg(all(unix, not(target_os = \"macos\")))".dependencies]
openssl-sys = "0.9"

[target."cfg(windows)".dependencies]
winapi = "0.2"
